.home {
    flex-grow: 1;

    flex-direction: column;

    align-items: center;

    justify-content: center; 

    min-height: 100vh;
    background: #fff;
    color: #111827;
}

.profile-image {
    width: 15.765vw;
    height: 15.765vw;
    border-radius: 50%;
    background-image: url('potrait.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 2.102vw;
    display: block;
}

.profile-info {
    text-align: center; 
} 

.profile-info h1 {
    margin-bottom: 2.102vw; 
    font-size: 3.363vw;
    font-weight: 700;
}

.profile-info p {
    width: 36.784vw;
    margin-bottom: 1.051vw;
    font-size: 2.522vw;
    font-weight: 300;
}

.home .buttons button {
    padding: 0.788vw 2.102vw;
    margin-right: 7.882vw;
    border: none;
    background-color: #111827;
    color: #F0F0F0;
    border-radius: 0.631vw;
    cursor: pointer;
    font-size: 1.261vw;
}

.home .buttons button:last-child {
    margin-right: 0;
}

.home .buttons button:hover {
    background-color: #0056b3;
}